h1{
    color: blue;
    margin-left: 30px;
}


.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;
}

p{
    color: #FF0000;
}

.footer{
        display: flex;
        justify-content: flex-end;
}
body{
    background-color: #E9914C;
}

a:link{
    color: red;
}
a:visited{
    color: palevioletred;
}
.menu{
    margin-right: 30px;
}

.menu a{
    margin-left: 20px;
}
.item {
    position: relative;
}
.item p{
    position:absolute;
    top :50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.33;
}